<h1>Posts</h1>
<table class="striped highlight" >
      <thead>
        <tr>
            <th>Post ID</th>
            <th>Date</th>
            <th>User</th>
            <th>Rationale</th>
        </tr>
      </thead>
      <tbody>
        <%= render @posts %>
      </tbody>
    </table>
